<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://use.typekit.net/mqx1hbx.css">
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>
<body>
</body>
</html>
