<perch:content id="text" type="textarea" label="Text" markdown editor="simplemde" imagewidth="640" imageheight="480">
            <li>
                <p>
                    <perch:content id="agent_name" type="text" label="Agent Name" />
                </p>

                <p>
                    <perch:content id="agent_phone" type="text" label="Agent Phone" />
                </p>
                <p>
                    <perch:content id="agency_name" type="text" label="Agency Name" />
                </p>
                <p>
                    <perch:content id="agency_street" type="text" label="Agency Street" />
                </p>
                <p>
                    <perch:content id="agency_city" type="text" label="Agency City" />
                </p>
                <p>
                    <perch:content id="agency_zip" type="text" label="Agency Zip" />
                </p>
            </li>