/*DIN-FONT*/

@font-face {
    font-family: 'din-bold';
    src: url('../fonts/din-bold-webfont.woff2') format('woff2'),
    url('../fonts/din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-medium';
    src: url('../fonts/din-medium-webfont.woff2') format('woff2'),
    url('../fonts/din-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-regular';
    src: url('../fonts/din-regular-webfont.woff2') format('woff2'),
    url('../fonts/din-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
